body {
  margin: 0;
    font-family: 'Sour Gummy', sans-serif;
  background-color: #f9f6f0;
  color: #3b2f2f;
}

header {
  background-color: #8b5c3c;
  color: #fff8f0;
  padding: 40px;
  text-align: center;
}

header h1 {
    font-family: 'Sour Gummy', sans-serif;
  font-size: 50px;
  margin: 0;
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 0.5rem;
}

nav li {
  margin: 0 1.5rem;
}

nav a {
  text-decoration: none;
  color: #fff8f0;
  font-weight: bold;
  transition: color 0.3s;
}

nav a.active,
nav a:hover {
  color: #fcd5ce;
}

main {
  padding: 70px;
  margin: auto;
  width: 50%;
}

.image-section img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border: 3px solid #8b5c3c;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.info-section {
  text-align: center;
  margin-bottom: 2rem;
}

.info-section h2 {
  font-family: 'Sour Gummy', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

span{
	margin-left: 400px;
}

.form-section {
  text-align: center;
}

textarea {
  width: 100%;
  padding: 1rem;
  font-family: 'Georgia', serif;
  font-size: 1rem;
  border: 2px solid #8b5c3c;
  border-radius: 6px;
  resize: vertical;
}

button {
  margin-top: 1rem;
  background-color: #8b5c3c;
  color: white;
  border: none;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  font-family: 'Cinzel', serif;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a97450;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #eaddcf;
  color: #3b2f2f;
  font-size: 0.9rem;
  position: absolute;
  bottom: -180px;
left: 0;
  right: 0;
  padding: 20px;
  height: 30px;
  
}

button.sent {
	background color: #5a3d2b;
	color: #f3e9dc;
	cursor: not-allowed;
	transition: background-color 0.3s ease;
}
